 <div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="900px" fxLayoutGap="20px" style="margin-top: 55px;">
    <!-- <div *ngFor="let note of notes|noteFilter: {pin: false, trash: false, archive: true} " class={{noteView}}> -->
          <div *ngFor="let note of notes|noteFilter: {pin: false, trash: false, archive: true} " class={{noteView}}>

      <!-- <app-common-code [note]="note"></app-common-code> -->
      <!-- <div *ngIf="note.reminder!=null">
        <mat-card fxFlex="265px">

          <mat-card-title>
            <b>{{note.title}}</b>
          </mat-card-title>


          <mat-card-subtitle>
            {{note.description}}
          </mat-card-subtitle>


          <div *ngIf="note.reminder!=null">
            <div mat-menu-item>
              <mat-chip-list>
                <mat-chip selected="true" class="chip">
                  <label>{{note.reminder | date:'MMM dd,y, hh:mm a'}}</label>
                  <mat-icon (click)="updateNote(note,'null','reminder')">close</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>

          
        </mat-card>
      </div> -->

    </div>
  </div>
</div> 
