<div  style="margin-left: 130px"   > 
  <div fxLayoutAlign="center center" style="margin-top:80px; " (click)="show=!show" *ngIf="!show">
    <mat-card fxFlex="50">
      <div>Take a Note ... </div>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:50px" *ngIf="show">
    <mat-card>
      <div style="width: 400px; height: 100px;">
        <mat-card-title>
          <input type="text" data-text='title' placeholder="Title" name="title" [(ngModel)]="model.title" matInput style="border: none;outline: none">
        </mat-card-title>

        <mat-card-subtitle>
          <input type="text" data-text='description' placeholder="Description..." name="description" [(ngModel)]="model.description"
            matInput style="border: none;outline: none">
        </mat-card-subtitle>


        <button type="submit" (click)="createnote()">Done</button>
      </div>
    </mat-card>
  </div>
 
    <div>Pinned</div>
   <div class="class-container" fxLayoutAlign="center center">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="300px" fxLayoutGap="20px">
        <div *ngFor="let note of notes|searchFilter:searchText" class={{statusClass}}>
            <div *ngIf="note.trash===false && note.archive===false && note.pin===true">
                <app-common-code [note]="note"></app-common-code>
          </div>
        </div>
      </div>
    </div>
   
    <div>Other</div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="900px" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="900px" fxLayoutGap="20px">

        <div *ngFor="let note of notes|searchFilter:searchText">
          <div *ngIf="note.trash===false && note.archive===false && note.pin===false">
           <app-common-code [note]="note"></app-common-code>
          </div>
        </div>
        </div>
      </div>

    </div>
