
.class-container{
    margin-bottom: 20px;
    margin-top: 80px;
    margin-right: 20px;
   
  }
  .editable {
    word-wrap: break-word;
    white-space: pre-wrap;
    outline: none;
    line-height: 20px; 
    } 







