<div>
  <div fxLayoutAlign="center center" style="margin-top:80px; " (click)="show=!show" *ngIf="!show">
    <mat-card fxFlex="50">
      <div>Take a Note ... </div>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:50px" *ngIf="show">
    <mat-card>
      <div style="width: 400px; height: 100px;">
        <mat-card-title>
          <input type="text" data-text='title' placeholder="Title" name="title" [(ngModel)]="model.title" matInput style="border: none;outline: none">
        </mat-card-title>

        <mat-card-subtitle>
          <input type="text" data-text='description' placeholder="Description..." name="description" [(ngModel)]="model.description"
            matInput style="border: none;outline: none">
        </mat-card-subtitle>


        <button type="submit" (click)="createnote()" mat-raised-button color="">Done</button>
      </div>
    </mat-card>


  </div>
  <!-- ------------------ pin div---------------------- -->

  <div fxLayoutAlign="center center" class="class-container">

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="900px" fxLayoutGap="20px">
      <div *ngFor="let note of notes">
        <div *ngIf="note.trash===false && note.archive===false && note.pin===true">
          <mat-card fxFlex="265px">
            <div (click)="pinnote(note,'false')" style="margin-left: 200px;">
              <img src="{{pinSVG}}">

            </div>

            <mat-card-title>
              <b>{{note.title}}</b>
            </mat-card-title>
            <mat-card-subtitle>{{note.description}}</mat-card-subtitle>
            <!-- ---------chip------------ -->
            <div *ngIf="note.reminder!=null">
                <div mat-menu-item>
                  <mat-chip-list>
                    <mat-chip  selected="true" class="chip" >                     
                      <label>{{note.reminder | date:'MMM dd,y, hh:mm a'}}</label>
                      <mat-icon (click)="reminder(note,'null')">close</mat-icon>
                    
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            <div fxLayout="row" fxLayoutAlign="end end">

              







              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="trashnote(note,'true')">Delete note</button>

                <button mat-menu-item>*******</button>
              </mat-menu>




              <mat-menu #touch="matMenu">
                <button mat-menu-item (click)="reminder(note,'Today')">Later Today 8PM</button>
                <button mat-menu-item (click)="reminder(note,'Tomorrow')">Tomorrow</button>
                <button mat-menu-item (click)="reminder(note,'NextWeek')">Next Week</button>
              </mat-menu>
              <div>
                  <button mat-icon-button>
                    <mat-icon>color_lens
                      </mat-icon>
                  </button>
                </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="touch">
                  <mat-icon>touch_app</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button (click)="archivenote(note,'true')">
                  <mat-icon>archive</mat-icon>
                </button>
              </div>


              <div>
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>


              


            </div>
          </mat-card>
        </div>

      </div>

    </div>
  </div>


  <!------------------------- note div------------ -->
  <div fxLayoutAlign="center center" class="class-container">

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="900px" fxLayoutGap="20px">
      <div *ngFor="let note of notes">
        <div *ngIf="note.trash===false && note.archive===false && note.pin===false">
          <mat-card fxFlex="265px">
            <div (click)="pinnote(note,'true')" style="margin-left: 165px;">
              <img src="{{pinSVG}}">

            </div>
            <mat-card-title>
              <b>{{note.title}}</b>
            </mat-card-title>
            <mat-card-subtitle>{{note.description}}</mat-card-subtitle>
            <div *ngIf="note.reminder!=null">
                <div mat-menu-item>
                  <mat-chip-list>
                    <mat-chip  selected="true" class="chip" >                     
                      <label>{{note.reminder | date:'MMM dd,y, hh:mm a'}}</label>
                      <mat-icon (click)="reminder(note,'null')">close</mat-icon>
                    
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            <div fxLayout="row" fxLayoutAlign="end end">


                
    



              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="trashnote(note,'true')">Delete note</button>

                <button mat-menu-item>*******</button>
              </mat-menu>
              <mat-menu #touch="matMenu">
                <button mat-menu-item (click)="reminder(note,'Today')">Later Today 8PM</button>
                <button mat-menu-item (click)="reminder(note,'Tomorrow')">Tomorrow</button>
                <button mat-menu-item (click)="reminder(note,'NextWeek')">Next Week</button>
              </mat-menu>
              <div>
                  <button mat-icon-button>
                    <mat-icon>color_lens
                      </mat-icon>
                  </button>
                </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="touch">
                  <mat-icon>touch_app</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button (click)="archivenote(note,'true')">
                  <mat-icon>archive</mat-icon>
                </button>
              </div>


              <div>
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>

            </div>
          </mat-card>
        </div>

      </div>

    </div>
  </div>





</div>
