.matcard{
    
    /* max-width: 250px; */
}
button{
    /* background-color: rgb(3, 123, 243); */
    /* color: rgb(0, 0, 0); */
}
.sample{
   margin-top: 50px;
   width: 500px;
   margin-left: 300px;
}















