


    <mat-toolbar style="background-color:rgb(9, 212, 248)">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon> </button>
        <div>
            fundooNotes
        </div>
    </mat-toolbar>

    <mat-sidenav-container style="height:100vh;" >
        <mat-sidenav #sidenav mode="side" opened >
            <div>
                    
                <a mat-button routerLink="/home/notes"><mat-icon>lightbulb_outline</mat-icon> Notes</a>
                
        </div>
        <div>
                    
                <a mat-button routerLink="/home/notes"><mat-icon>delete</mat-icon>Trash</a>
                
        </div>

        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>