
.toolbar{
  color: rgb(10, 10, 10);
  background-color: rgb(255, 187, 0);
}

.example-co{
  
  background-color: white;
  width: auto;
  height:600px;
}


.example-sidenav {

  width: 200px;
  padding: 80px;
}
