<h2>Registration Form</h2>
<div class="registercontainer">
  <mat-form-field>
    <input matInput placeholder="username">
  </mat-form-field>
</div>
<div class="registercontainer">
  <mat-form-field>
    <input matInput placeholder="email">
  </mat-form-field>
</div>
<div class="registercontainer">
  <mat-form-field>
    <input matInput placeholder="password">
  </mat-form-field>
</div>
<div class="registercontainer">
        
        <button mat-raised-button color="primary">Register</button>
      </div>








<!-- <input type="text" name="username" placeholder="enter user name">
<input type="email" name="email" placeholder="enter email id">
<input type="password" name="password" placeholder="enter pasword">
<input type="submit" value="register"> -->
